# Environnements virtuels
venv/
env/
.venv/

# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de configuration des IDE
.idea/

# Fichiers systèmes
.DS_Store
Thumbs.db

# Bases de données locales
*.db
*.sqlite3