# Environnements virtuels (indispensable pour ne pas push des milliers de fichiers)
venv/
env/
.venv/

# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de configuration des IDE (PyCharm, VS Code)
.idea/
.vscode/

# Fichiers systèmes
.DS_Store
Thumbs.db